nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #1b1b1b;
}
nav li{
    list-style-type: none;
}
nav li a{
    text-decoration: none;
    position: relative;
    color: white;
}
nav li a::after{
    position: absolute;
    bottom: 0;
    background-color: #2382f6;
    width: 0%;
    height: 2px;
    border-radius: 15px;
    left: 0%;
    content: ' ';
}
nav li:hover a::after{
    width: 100%;
}